@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Paytone+One&family=Poppins:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --color-bg: #F2F2F2;
  --color-primary: #5856CE;
  --color-secondary: #120155;
  --color-white: #fff;

  --transition: all 400ms ease;
}

h1
h2
h3
h4
h5
h6{
  margin: 0;
}

p{
  margin: 0;
}
